
<div ng-repeat="col in cols" class="cols">
	<span class="index">({{$index}})</span>
	<sorter ng-model="cols" index="$index"></sorter>
	<span class="glyphicon"
		  ng-click="remove($event, $index)"
		  ng-class="{
		    'glyphicon-minus': removeIndex !== $index,
		  	'glyphicon-trash': removeIndex === $index,
		  	remove: removeIndex === $index
		  }"
		  prevent-selection></span>
	<fieldselect ng-model="col.value" options="colsCollection" label="label" value="value"></fieldselect>
	<input type="text" ng-model="col.label" auto-select />
</div>
<div>
	<span class="index">({{cols.length}})</span>
	<sorter ng-model="newcol" index="0"></sorter>
	<span class="glyphicon glyphicon-plus"
		  ng-click="add(newcol[0])"
		  prevent-selection></span>
	<fieldselect ng-model="newcol[0]" options="colsCollection" label="label"></fieldselect>
	<input type="text" ng-model="newcol[0].label" auto-select />
</div>