<div class="fieldselect" ng-class="{ expanded: isExpanded }">
	<div class="selected" ng-click="isExpanded = !isExpanded">{{selected}}</div>
	<div class="fields" ng-click="isExpanded = false">
		<div class="field" ng-click="selected = 'name'">name</div>
		<div class="field" ng-click="selected = 'duration'">duration</div>
		<div class="field" ng-click="selected = 'DURATION'">DURATION</div>
		<div class="field" ng-click="selected = 'damage'">damage</div>
		<div class="field" ng-click="selected = 'damage-m'">damage-m</div>
		<div class="field" ng-click="selected = 'DAMAGE-k'">DAMAGE-k</div>
		<div class="field" ng-click="selected = 'DAMAGE-m'">DAMAGE-m</div>
		<div class="field" ng-click="selected = 'damage%'">damage%</div>
		<div class="field" ng-click="selected = 'dps'">dps</div>
		<div class="field" ng-click="selected = 'DPS'">DPS</div>
		<div class="field" ng-click="selected = 'DPS-k'">DPS-k</div>
		<div class="field" ng-click="selected = 'encdps'">encdps</div>
		<div class="field" ng-click="selected = 'ENCDPS'">ENCDPS</div>
		<div class="field" ng-click="selected = 'ENCDPS-k'">ENCDPS-k</div>
		<div class="field" ng-click="selected = 'hits'">hits</div>
		<div class="field" ng-click="selected = 'crithits'">crithits</div>
		<div class="field" ng-click="selected = 'crithit%'">crithit%</div>
		<div class="field" ng-click="selected = 'misses'">misses</div>
		<div class="field" ng-click="selected = 'hitfailed'">hitfailed</div>
		<div class="field" ng-click="selected = 'swings'">swings</div>
		<div class="field" ng-click="selected = 'tohit'">tohit</div>
		<div class="field" ng-click="selected = 'TOHIT'">TOHIT</div>
		<div class="field" ng-click="selected = 'maxhit'">maxhit</div>
		<div class="field" ng-click="selected = 'MAXHIT'">MAXHIT</div>
		<div class="field" ng-click="selected = 'healed'">healed</div>
		<div class="field" ng-click="selected = 'healed%'">healed%</div>
		<div class="field" ng-click="selected = 'enchps'">enchps</div>
		<div class="field" ng-click="selected = 'ENCHPS'">ENCHPS</div>
		<div class="field" ng-click="selected = 'ENCHPS-k'">ENCHPS-k</div>
		<div class="field" ng-click="selected = 'critheals'">critheals</div>
		<div class="field" ng-click="selected = 'critheal%'">critheal%</div>
		<div class="field" ng-click="selected = 'heals'">heals</div>
		<div class="field" ng-click="selected = 'cures'">cures</div>
		<div class="field" ng-click="selected = 'maxheal'">maxheal</div>
		<div class="field" ng-click="selected = 'MAXHEAL'">MAXHEAL</div>
		<div class="field" ng-click="selected = 'maxhealward'">maxhealward</div>
		<div class="field" ng-click="selected = 'MAXHEALWARD'">MAXHEALWARD</div>
		<div class="field" ng-click="selected = 'damagetaken'">damagetaken</div>
		<div class="field" ng-click="selected = 'healstaken'">healstaken</div>
		<div class="field" ng-click="selected = 'powerdrain'">powerdrain</div>
		<div class="field" ng-click="selected = 'powerheal'">powerheal</div>
		<div class="field" ng-click="selected = 'kills'">kills</div>
		<div class="field" ng-click="selected = 'deaths'">deaths</div>
		<div class="field" ng-click="selected = 'threatstr'">threatstr</div>
		<div class="field" ng-click="selected = 'threatdelta'">threatdelta</div>
		<div class="field" ng-click="selected = 'NAME3'">NAME3</div>
		<div class="field" ng-click="selected = 'NAME4'">NAME4</div>
		<div class="field" ng-click="selected = 'NAME5'">NAME5</div>
		<div class="field" ng-click="selected = 'NAME6'">NAME6</div>
		<div class="field" ng-click="selected = 'NAME7'">NAME7</div>
		<div class="field" ng-click="selected = 'NAME8'">NAME8</div>
		<div class="field" ng-click="selected = 'NAME9'">NAME9</div>
		<div class="field" ng-click="selected = 'NAME10'">NAME10</div>
		<div class="field" ng-click="selected = 'NAME11'">NAME11</div>
		<div class="field" ng-click="selected = 'NAME12'">NAME12</div>
		<div class="field" ng-click="selected = 'NAME13'">NAME13</div>
		<div class="field" ng-click="selected = 'NAME14'">NAME14</div>
		<div class="field" ng-click="selected = 'NAME15'">NAME15</div>
		<div class="field" ng-click="selected = 'Last10DPS'">Last10DPS</div>
		<div class="field" ng-click="selected = 'Last30DPS'">Last30DPS</div>
		<div class="field" ng-click="selected = 'Last60DPS'">Last60DPS</div>
		<div class="field" ng-click="selected = 'Job'">Job</div>
		<div class="field" ng-click="selected = 'ParryPct'">ParryPct</div>
		<div class="field" ng-click="selected = 'BlockPct'">BlockPct</div>
		<div class="field" ng-click="selected = 'IncToHit'">IncToHit</div>
		<div class="field" ng-click="selected = 'OverHealPct'">OverHealPct</div>
	</div>
</div>