
# Sublime files
*.sublime-project
*.sublime-workspace

# Windows
*.bat

# project specific
dataExample.json
cover.png
parse

# Dependency directory
node_modules
bower_components
src/js/vendor

# Builds
build
Releases
.sublime-grunt.cache
.tmp
src/app/tpls.js
