
# Sublime files
*.sublime-project
*.sublime-workspace

# Windows
*.bat

# Dependency directory
node_modules
bower_components

# Builds
build
Releases
.sublime-grunt.cache
.tmp

# project specific
dataExample.json
cover.png
parse/.parse.*
parse/log
parse/public
src/app/tpls.js
