<div class="combatants">

	<table>
			<tr class="tableheader">
				<!-- <td width="1em">Job</td> -->
				<td width="6em">Name</td>
				<td width="3em">DPS</td>
				<td width="2em">(%)</td>
				<td width="3em">HPS</td>
				<td width="2em">(%)</td>
				<td width="2em">overheal</td>
			</tr>
			<tr combatant="combatant" bestdps="bestdps" ng-repeat="combatant in combatants track by combatant.name" ng-class="combatant.Job"></tr>
			<tr ng-hide="combatants">
				<td colspan="6" class="waiting">
					<div>--- Waiting for Data ---</div>
				</td>
			</tr>
	</table>

</div>