
<div class="menu">
	<a href="#/dpsmeter" class="glyphicon glyphicon-tasks"></a>
</div>

<div class="config">
	<div>
		<checkbox checked="confExpandFromBottom"></checkbox> expand from bottom
	</div>

	<div ng-repeat="col in cols" class="cols">
		({{$index}})
		<sorter ng-model="cols" index="$index"></sorter>
		<fieldselect selected="col.name"></fieldselect>
	</div>
	
	<!-- foobarbaz<fieldselect selected="foo"></fieldselect> -->

	<div>
		<a href="#/dpsmeter" class="glyphicon glyphicon-ok" ng-click="save()"></a>
	</div>

</div>