
<div class="menu">
	<a href="#/dpsmeter" class="glyphicon glyphicon-tasks"></a>
</div>

<div class="config">
	<!-- <div>
		<checkbox checked="confExpandFromBottom"></checkbox> expand from bottom
	</div> -->

	<div>
		<fieldselect ng-model="preset" options="presets" label="name" on-change="onPresetChange"></fieldselect>
	</div>

	<div>
		<span ng-repeat="preset in presets">
			<a class="field" ng-href="#/config/preset/{{preset.__uid}}"><span class="glyphicon glyphicon-wrench"></span> {{preset.name}}</a>
		</span>
	</div>

	<div>
		<a href="#/dpsmeter" class="glyphicon glyphicon-ok" ng-click="save()"></a>
	</div>

</div>