<form class="loginForm" name="signupform">

	<div class="login">
		<label>Login:</label>
		<input type="text"
			   name="username"
			   ng-model="username"
			   ng-minlength="3"
			   required />
		<div ng-messages="signupform.username.$error">
			 <div ng-message="required">Required</div>
			 <div ng-message="minlength">must be at least 3 characters long</div>
		</div>
	</div>

	<div class="password">
		<label>Password:</label>
		<input type="password"
			   name="password"
			   ng-model="password"
			   ng-pattern="password2"
			   required
			   ng-minlength="6" />
		<div ng-messages="signupform.password.$error">
			 <div ng-message="required">Required</div>
			 <div ng-message="minlength">must be at least 6 characters long</div>
			 <div ng-message="pattern">must match "confirm password"</div>
		</div>
	</div>

	<div class="password">
		<label>Confirm password:</label>
		<input type="password"
			   name="password2"
			   ng-model="password2"
			   required />
		<div ng-messages="signupform.password2.$error">
			 <div ng-message="required">Required</div>
		</div>
	</div>

	<div class="errormessage">{{errorMessage}}</div>

	<div class="submit">
		<input type="submit" ng-click="signupform.$valid &amp;&amp; signUp($event)" />
	</div>

</form>
