
<div class="combatants">

<!-- 	<div ng-repeat="header in headers track by $index"
		 class="column"
		 ng-class="[{job: $first}, header.value]">

		<div class="header">{{header.label}}</div>

		<div ng-repeat="combatant in combatants track by combatant.name"
			 class="combatant"
			 ng-class="[combatant.Job, {
			 	misses: header.value === 'misses' &amp;&amp; combatant[header.value] !== '0'
			 }]"
			 sort-index="$index"
			 bestdps>
			<svg graph
				 ng-if="header.isGraph"
				 foreground="combatant[header.graphfg]"
				 background="combatant[header.graphbg]"
				 width="0"
				 height="0"></svg>
			<span class="value">{{combatant[header.value]}}</span>
		</div>
	</div> -->


<!-- 	<table>
			<tr class="tableheader">
				<th class="header"
					ng-repeat="header in headers track by $index"
					ng-class="header.value">{{header.label}}</th>
			</tr>
			<tr combatant="combatant"
				bestdps="bestdps"
				ng-repeat="combatant in combatants track by combatant.name"
				ng-class="combatant.Job"
				class="combatant"></tr>
			<tr ng-hide="combatants">
				<td colspan="{{headers.length}}}" class="waiting">
					<div class="message">--- Waiting for Data ---</div>
				</td>
			</tr>
	</table> -->

</div>

<div class="combatants">

	<div class="headers">

		<div class="column"
			 ng-repeat="header in headers track by $index"
			 ng-class="[header.value, {
		 	 	job: $first
		 	 }]">{{header.label}}</div>

 	</div>

	<div ng-repeat="combatant in combatants track by combatant.name"
		 class="combatant"
		 ng-class="[combatant.Job]"
		 sort-index="$index"
		 bestdps>

		<div ng-repeat="header in headers track by $index"
			 class="column"
		 	 ng-class="[header.value, {
		 	 	job: $first,
		 	 	hasmisses: header.value === 'misses' &amp;&amp; combatant[header.value] !== '0'
		 	 }]">

			<svg graph
				 ng-if="header.isGraph"
				 foreground="combatant[header.graphfg]"
				 background="combatant[header.graphbg]"></svg>
			<span class="value">{{combatant[header.value]}}</span>
		</div>
	</div>

</div>
