
<div class="combatants">

	<div ng-repeat="header in headers track by $index"
		 class="column"
		 ng-class="[{job: $first}, col.value]">

		<div class="header">{{header.label}}</div>

		<div ng-repeat="combatant in combatants track by combatant.name"
			 class="combatant"
			 ng-class="combatant.Job"
			 best="bestdps"
			 value="combatant.encdps">
			{{combatant[header.value]}}
		</div>
	</div>


<!-- 	<table>
			<tr class="tableheader">
				<th class="header"
					ng-repeat="header in headers track by $index"
					ng-class="header.value">{{header.label}}</th>
			</tr>
			<tr combatant="combatant"
				bestdps="bestdps"
				ng-repeat="combatant in combatants track by combatant.name"
				ng-class="combatant.Job"
				class="combatant"></tr>
			<tr ng-hide="combatants">
				<td colspan="{{headers.length}}}" class="waiting">
					<div class="message">--- Waiting for Data ---</div>
				</td>
			</tr>
	</table> -->

</div>
